extends components/template.pug

block content 
  main.main-container
    .mcFly
      .head
        .hair
        .glasses
        .headphones
          .headband
      .shirt
      .jacket
        .jacket-2
      .red-jacket